.loader {
  display: none;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #5d8ffc;
  background: -moz-linear-gradient(left, #5d8ffc 10%, rgba(93, 143, 252, 0) 42%);
  background: -webkit-linear-gradient(left, #5d8ffc 10%, rgba(93, 143, 252, 0) 42%);
  background: -o-linear-gradient(left, #5d8ffc 10%, rgba(93, 143, 252, 0) 42%);
  background: -ms-linear-gradient(left, #5d8ffc 10%, rgba(93, 143, 252, 0) 42%);
  background: linear-gradient(to right, #5d8ffc 10%, rgba(93, 143, 252, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #5d8ffc;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#map {
  height: 100%;
}

body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.vertical-container {
  /* height: 300px; */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#register_div {
  border: solid 1px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

#login_div {
  display: none;
  border: solid 1px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
}

#user_div {
  display: none;
  margin-top: 10px;
  padding: 20px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#over_map {
  position: absolute;
  top: 10px;
  left: 89%;
  z-index: 99;
  background-color: #5d8ffc;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}

#over_map:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

/* #to_register {
  font-family: 'Nunito', sans-serif;
  width: 30%;
} */

.img_logo, #user_img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.main_div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main_div input:focus {
  border: 1px solid #777;
}

.main_div button, .loggedin-div button {
  margin-top: 10px;
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main_div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

/* side menu */

#menu_button {
  position: absolute;
  z-index: 4;
  font-family: 'Nunito', sans-serif;
  /* font-weight: 700; */
  top: 10px;
  background-color: #5d8ffc;
  color: #fff;
  padding: 10px;
}

#menu_button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5d8ffc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  color: #fff;
  position: absolute;
  top: 0;
  font-size: 25px;
  right: 25px;
  margin: 5px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  color: #5d8ffc;
  background: #fff;
}

.sidenav img {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a.opt_menu:hover {
  background: #fff;
  color: #5d8ffc;
  cursor: pointer;
}