 body {
   background: #fff;
   padding: 0px;
   margin: 0px;
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
 }

 input, button {
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
 }

 #register_div.main_div {
   width: 20%;
   margin: 0px auto;
   margin-top: 150px;
   padding: 20px;
 }

 #login_div.main_div {
   width: 20%;
   margin: 0px auto;
   margin-top: 150px;
   padding: 20px;
   display: none;
 }

 .main_div input {
   display: block;
   border: 1px solid #ccc;
   border-radius: 5px;
   background: #fff;
   padding: 15px;
   outline: none;
   width: 100%;
   margin-bottom: 20px;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
 }

 .main_div input:focus {
   border: 1px solid #777;
 }

 .main_div button, .loggedin-div button {
   margin-top: 10px;
   background: #5d8ffc;
   color: #fff;
   border: 1px solid #5d8ffc;
   border-radius: 5px;
   padding: 15px;
   display: block;
   width: 100%;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
 }

 .main_div button:hover, .loggedin-div button:hover {
   background: #fff;
   color: #5d8ffc;
   border: 1px solid #5d8ffc;
   cursor: pointer;
 }

 .side_nav_menu {
   position: absolute;
   z-index: 5;
   background-color: #111;
   padding: 5px;
   transition: 0.5s;
   font-family: 'Nunito', sans-serif;
 }

 /* side menu */

 #menu_btn {
   position: absolute;
   z-index: 4;
 }

 .sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }
 .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }

 .sidenav a:hover {
   color: #f1f1f1;
 }